img {
   width: 50rem;
   height: 10rem;
   margin-top: 3rem;
}

p {
   font-size: 18pt;
   text-align: center;
   width: 45rem;
   margin: auto;
}

.bold {
   font-weight: bold;
   margin-top: 1rem;
}