li {
   list-style: none;
   margin: 1rem 2rem;
   color: #ca1004;
   text-shadow: 1px 1px black;
   font-size: 20pt;
}

ul {
   display: flex;
}

a:link {
   color: black;
}

a:visited {
   color: black;
}

a:hover {
   color: red;
}

a:active {
   color: black;
}