<div id="experiences-container">
   <div id="images-block" >
      <img id="header-image" src="../../../../assets/home-page-images/Featured Races.png">
      <div id="featured-experiences">
         <img class="experience" src="../../../../assets/home-page-images/Silverstone.png">
         <img class="experience" src="../../../../assets/home-page-images/Monaco.png">
         <img class="experience" src="../../../../assets/home-page-images/Monza.png">
      </div>
      <a routerLink="experiences"><button id="experience-btn">SEE EXPERIENCES</button></a>
   </div>
</div>