button {
   color: white;
   background-color: #CA1004;
   border-radius: 30px;
   width: 30rem;
   height: 4rem;
   margin-top: 4rem;
   font-size: 28pt;
   text-align: center;
}

.experience {
   width: 25rem;
   height: 25rem;
}

#featured-experiences {
   display: flex;
   justify-content: center;
   margin-top: 3rem;
}

#header-image {
   margin: auto;
   width: 65rem;
   height: 11rem;
}

#experiences-container {
   background-image: url("../../../../assets/home-page-images/background-for-races.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 50rem;
}

#images-block {
   display: flex;
   flex-direction: column;
   align-items: center;
}