<div id="container">
   <div id="about-container" class="flex">
      <img src="../../../../assets/home-page-images/unnamed.jpg">
      <div id="text-area">
         <h2>FORMULA ZERO</h2>
         <h6>A FORMULA 1 RACING EXPERIENCE</h6>
         <p>At Formula Zero, our purpose is to create unforgettable moments for Formula 1 fans and enthusiasts. By offering the opportunity to drive the exact same F1 vehicle that you cheer for on famous racetracks, we give you a chance to truly connect with your favorite drivers and teams on a personal level. Simply select the race you want to attend, and come ready to win; we'll do the rest.</p>
         <br>
         <p>Formula Zero is the exclusive destination where you you can drive the very same car that propelled your favorite team to championship victory.</p>
      </div>
   </div>
</div>