img {
   width: 40rem;
   height: 30rem;
}

h2 {
   font-size: 52pt;
   text-align: center;
   font-weight: 600;
}

h6 {
   color: #CA1004;
   font-size: 25pt;
   text-align: center;
   margin-top: -1.5rem;
}

p {
   margin: 2rem auto auto auto;
   width: 30rem;
   font-size: larger;
}

.flex {
   display: flex;
   justify-content: space-between;
   width: 75rem;
   margin: auto;
}

/* .text-area {
   margin-left: 5rem;
} */

#container {
   background-image: url("../../../../assets/home-page-images/street-background.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 45rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

