h2 {
   text-align: center;
   margin: 0 auto auto auto;
   font-weight: bold;
   font-size: 25pt;
}

h5 {
   color: #CA1004;
   text-align: center;
   margin-top: -0.70rem;
}

p {
   text-align: center;
}

.package {
   width: 35rem;
   height: 15rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   margin-right: 2rem;
}

.paragraphs {
   height: 4rem;
}

.image-placeholder {
   width: 24rem; 
   height: 18rem;
}

.text-area {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-left: -2rem;
}

.price {
   font-weight: bold;
   font-size: 18pt;
   margin-bottom: -0.5rem;;
}

#button {
   width: 12rem;
   height: 3rem;
   text-align: center;
   border-radius: 30px;
   background-color: #CA1004;
   color: white;
   font-weight: bold;
   font-size: 18pt;
   /* margin-top: 2rem; */
}

#container {
   background-image: url("../../../../assets/experience-page-images/Backgroundimage.png");
   background-position: center;
   background-repeat: repeat;
   background-size: cover;
   width: 100vw;
   height: 60rem;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

#experience-packages {
   width: 75rem;
   height: 60rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   margin: auto;
}