h2 {
   font-size: 70pt;
   font-weight: bold;
   text-align: center;
   margin-top: 3rem;
   color: white;
}

h3 {
   color: white;
   text-align: center;
   width: 45rem;
   margin-top: -1.5rem;
   margin-bottom: 3rem;;
}

#notice {
   font-size: 18pt;
   text-align: center;
   margin-top: 0.9rem;
   font-weight: bold;
}

#disclosure {
   font-size: 8pt;
   text-align: center;
}

#container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 25rem;
   background-color: #CA1004;
}

#reminder {
   width: 30rem;
   height: 4rem;
   border-radius: 30px;
   background-color: white;
}
